<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>boom_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{50, 45}, {54, 48}}</string>
			<key>spriteOffset</key>
			<string>{2, 6}</string>
			<key>spriteSize</key>
			<string>{54, 48}</string>
			<key>spriteSourceSize</key>
			<string>{150, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 300}, {54, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boom_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{28, 18}, {98, 90}}</string>
			<key>spriteOffset</key>
			<string>{2, 12}</string>
			<key>spriteSize</key>
			<string>{98, 90}</string>
			<key>spriteSourceSize</key>
			<string>{150, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 208}, {98, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boom_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{21, 18}, {112, 94}}</string>
			<key>spriteOffset</key>
			<string>{2, 10}</string>
			<key>spriteSize</key>
			<string>{112, 94}</string>
			<key>spriteSourceSize</key>
			<string>{150, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{130, 206}, {112, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boom_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 11}, {122, 104}}</string>
			<key>spriteOffset</key>
			<string>{2, 12}</string>
			<key>spriteSize</key>
			<string>{122, 104}</string>
			<key>spriteSourceSize</key>
			<string>{150, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{130, 0}, {122, 104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boom_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 13}, {128, 104}}</string>
			<key>spriteOffset</key>
			<string>{5, 10}</string>
			<key>spriteSize</key>
			<string>{128, 104}</string>
			<key>spriteSourceSize</key>
			<string>{150, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {128, 104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boom_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 12}, {128, 100}}</string>
			<key>spriteOffset</key>
			<string>{0, 13}</string>
			<key>spriteSize</key>
			<string>{128, 100}</string>
			<key>spriteSourceSize</key>
			<string>{150, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 106}, {128, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boom_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{21, 15}, {112, 98}}</string>
			<key>spriteOffset</key>
			<string>{2, 11}</string>
			<key>spriteSize</key>
			<string>{112, 98}</string>
			<key>spriteSourceSize</key>
			<string>{150, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{130, 106}, {112, 98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boom_8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{78, 63}, {48, 42}}</string>
			<key>spriteOffset</key>
			<string>{27, -9}</string>
			<key>spriteSize</key>
			<string>{48, 42}</string>
			<key>spriteSourceSize</key>
			<string>{150, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{56, 300}, {48, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{256, 512}</string>
		<key>name</key>
		<string>boom</string>
		<key>textureFileName</key>
		<string>boom.png</string>
		<key>premultipliedAlpha</key>
		<true/>
	</dict>
</dict>
</plist>