<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">  
<plist version="1.0">  
    <dict>
        <key>start</key>
        <string>开始游戏</string>
        
        <key>ranking</key>
        <string>排行榜</string>
        
        <key>more</key>
        <string>更多游戏</string>
        
        <key>score</key>
        <string>游戏分数</string>
        
        <key>again</key>
        <string>再来一次</string>
        
        <key>share</key>
        <string>分享</string>
        
        <key>menu</key>
        <string>主菜单</string>
        
        <key>font</key>
        <string>Verdana-Bold</string>
        
        <key>font_size</key>
        <string>30</string>
    </dict>
</plist>