<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>dragon_big_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 3}, {240, 153}}</string>
			<key>spriteOffset</key>
			<string>{0, 7}</string>
			<key>spriteSize</key>
			<string>{240, 153}</string>
			<key>spriteSourceSize</key>
			<string>{240, 173}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 344}, {240, 153}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>dragon_big_10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 8}, {240, 153}}</string>
			<key>spriteOffset</key>
			<string>{0, 2}</string>
			<key>spriteSize</key>
			<string>{240, 153}</string>
			<key>spriteSourceSize</key>
			<string>{240, 173}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{242, 344}, {240, 153}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>dragon_big_11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 10}, {240, 163}}</string>
			<key>spriteOffset</key>
			<string>{0, -5}</string>
			<key>spriteSize</key>
			<string>{240, 163}</string>
			<key>spriteSourceSize</key>
			<string>{240, 173}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{726, 507}, {240, 163}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>dragon_big_12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 6}, {240, 167}}</string>
			<key>spriteOffset</key>
			<string>{0, -3}</string>
			<key>spriteSize</key>
			<string>{240, 167}</string>
			<key>spriteSourceSize</key>
			<string>{240, 173}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{484, 173}, {240, 167}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>dragon_big_13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {240, 173}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{240, 173}</string>
			<key>spriteSourceSize</key>
			<string>{240, 173}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{242, 0}, {240, 173}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>dragon_big_14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {240, 171}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{240, 171}</string>
			<key>spriteSourceSize</key>
			<string>{240, 173}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{484, 0}, {240, 171}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>dragon_big_15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {240, 173}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{240, 173}</string>
			<key>spriteSourceSize</key>
			<string>{240, 173}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {240, 173}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>dragon_big_16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {237, 126}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{237, 126}</string>
			<key>spriteSourceSize</key>
			<string>{237, 126}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{484, 509}, {237, 126}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>dragon_big_17.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 0}, {234, 174}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{234, 174}</string>
			<key>spriteSourceSize</key>
			<string>{240, 174}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{484, 637}, {234, 174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>dragon_big_18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 6}, {234, 228}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{234, 228}</string>
			<key>spriteSourceSize</key>
			<string>{240, 240}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 672}, {234, 228}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>dragon_big_19.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {101, 224}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{101, 224}</string>
			<key>spriteSourceSize</key>
			<string>{101, 224}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{236, 672}, {101, 224}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>dragon_big_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 10}, {240, 163}}</string>
			<key>spriteOffset</key>
			<string>{0, -5}</string>
			<key>spriteSize</key>
			<string>{240, 163}</string>
			<key>spriteSourceSize</key>
			<string>{240, 173}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{726, 342}, {240, 163}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>dragon_big_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {240, 171}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{240, 171}</string>
			<key>spriteSourceSize</key>
			<string>{240, 173}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{726, 0}, {240, 171}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>dragon_big_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 6}, {240, 167}}</string>
			<key>spriteOffset</key>
			<string>{0, -3}</string>
			<key>spriteSize</key>
			<string>{240, 167}</string>
			<key>spriteSourceSize</key>
			<string>{240, 173}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{242, 175}, {240, 167}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>dragon_big_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {240, 167}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{240, 167}</string>
			<key>spriteSourceSize</key>
			<string>{240, 173}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{726, 173}, {240, 167}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>dragon_big_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 6}, {240, 167}}</string>
			<key>spriteOffset</key>
			<string>{0, -3}</string>
			<key>spriteSize</key>
			<string>{240, 167}</string>
			<key>spriteSourceSize</key>
			<string>{240, 173}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 175}, {240, 167}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>dragon_big_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 8}, {240, 165}}</string>
			<key>spriteOffset</key>
			<string>{0, -4}</string>
			<key>spriteSize</key>
			<string>{240, 165}</string>
			<key>spriteSourceSize</key>
			<string>{240, 173}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{484, 342}, {240, 165}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>dragon_big_8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 12}, {240, 161}}</string>
			<key>spriteOffset</key>
			<string>{0, -6}</string>
			<key>spriteSize</key>
			<string>{240, 161}</string>
			<key>spriteSourceSize</key>
			<string>{240, 173}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 509}, {240, 161}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>dragon_big_9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 13}, {240, 145}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{240, 145}</string>
			<key>spriteSourceSize</key>
			<string>{240, 173}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{242, 499}, {240, 145}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>name</key>
		<string>dragon_big</string>
		<key>textureFileName</key>
		<string>dragon_big.png</string>
		<key>premultipliedAlpha</key>
		<true/>
	</dict>
</dict>
</plist>