<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>dragon_big_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 44}, {240, 152}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{240, 152}</string>
			<key>spriteSourceSize</key>
			<string>{240, 240}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 830}, {240, 152}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>dragon_big_10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 43}, {240, 154}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{240, 154}</string>
			<key>spriteSourceSize</key>
			<string>{240, 240}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 674}, {240, 154}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>dragon_big_11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 39}, {240, 164}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{240, 164}</string>
			<key>spriteSourceSize</key>
			<string>{240, 240}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{242, 510}, {240, 164}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>dragon_big_12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 37}, {240, 166}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{240, 166}</string>
			<key>spriteSourceSize</key>
			<string>{240, 240}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{242, 176}, {240, 166}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>dragon_big_13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 33}, {240, 174}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{240, 174}</string>
			<key>spriteSourceSize</key>
			<string>{240, 240}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {240, 174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>dragon_big_14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 35}, {240, 170}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{240, 170}</string>
			<key>spriteSourceSize</key>
			<string>{240, 240}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{726, 0}, {240, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>dragon_big_15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 33}, {240, 174}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{240, 174}</string>
			<key>spriteSourceSize</key>
			<string>{240, 240}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{242, 0}, {240, 174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>dragon_big_16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 57}, {238, 126}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{238, 126}</string>
			<key>spriteSourceSize</key>
			<string>{240, 240}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{484, 660}, {238, 126}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>dragon_big_17.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 33}, {234, 174}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{234, 174}</string>
			<key>spriteSourceSize</key>
			<string>{240, 240}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{484, 172}, {234, 174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>dragon_big_18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{70, 8}, {102, 224}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{102, 224}</string>
			<key>spriteSourceSize</key>
			<string>{240, 240}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{484, 348}, {102, 224}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>dragon_big_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 48}, {240, 164}}</string>
			<key>spriteOffset</key>
			<string>{0, -10}</string>
			<key>spriteSize</key>
			<string>{240, 164}</string>
			<key>spriteSourceSize</key>
			<string>{240, 240}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{242, 344}, {240, 164}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>dragon_big_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 35}, {240, 170}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{240, 170}</string>
			<key>spriteSourceSize</key>
			<string>{240, 240}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{484, 0}, {240, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>dragon_big_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 37}, {240, 168}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{240, 168}</string>
			<key>spriteSourceSize</key>
			<string>{240, 240}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{720, 172}, {240, 168}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>dragon_big_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 37}, {240, 168}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{240, 168}</string>
			<key>spriteSourceSize</key>
			<string>{240, 240}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{720, 342}, {240, 168}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>dragon_big_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 37}, {240, 166}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{240, 166}</string>
			<key>spriteSourceSize</key>
			<string>{240, 240}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 344}, {240, 166}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>dragon_big_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 38}, {240, 166}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{240, 166}</string>
			<key>spriteSourceSize</key>
			<string>{240, 240}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 176}, {240, 166}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>dragon_big_8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 40}, {240, 160}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{240, 160}</string>
			<key>spriteSourceSize</key>
			<string>{240, 240}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 512}, {240, 160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>dragon_big_9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 47}, {240, 146}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{240, 146}</string>
			<key>spriteSourceSize</key>
			<string>{240, 240}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{588, 512}, {240, 146}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>name</key>
		<string>dragon_big</string>
		<key>textureFileName</key>
		<string>dragon_big.png</string>
		<key>premultipliedAlpha</key>
		<true/>
	</dict>
</dict>
</plist>