<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">  
<plist version="1.0">  
    <dict>
        <key>start</key>
        <string>Start Game</string>
        
        <key>ranking</key>
        <string>Ranking</string>
        
        <key>more</key>
        <string>More Games</string>
        
        <key>score</key>
        <string>Score</string>
        
        <key>again</key>
        <string>Try Again</string>
        
        <key>share</key>
        <string>Share</string>
        
        <key>menu</key>
        <string>Main Menu</string>
        
        <key>font</key>
        <string>Courier</string>
        
        <key>font_size</key>
        <string>30</string>
    </dict>
</plist>