<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>ultraman_big_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{20, 18}, {176, 160}}</string>
			<key>spriteOffset</key>
			<string>{10, -9}</string>
			<key>spriteSize</key>
			<string>{176, 160}</string>
			<key>spriteSourceSize</key>
			<string>{196, 178}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{180, 556}, {176, 160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ultraman_big_10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{44, 4}, {152, 174}}</string>
			<key>spriteOffset</key>
			<string>{22, -2}</string>
			<key>spriteSize</key>
			<string>{152, 174}</string>
			<key>spriteSourceSize</key>
			<string>{196, 178}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{273, 180}, {152, 174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ultraman_big_11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{52, 12}, {144, 166}}</string>
			<key>spriteOffset</key>
			<string>{26, -6}</string>
			<key>spriteSize</key>
			<string>{144, 166}</string>
			<key>spriteSourceSize</key>
			<string>{196, 178}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{362, 502}, {144, 166}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ultraman_big_12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 6}, {178, 170}}</string>
			<key>spriteOffset</key>
			<string>{9, -2}</string>
			<key>spriteSize</key>
			<string>{178, 170}</string>
			<key>spriteSourceSize</key>
			<string>{196, 178}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{182, 384}, {178, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ultraman_big_13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 20}, {178, 158}}</string>
			<key>spriteOffset</key>
			<string>{9, -10}</string>
			<key>spriteSize</key>
			<string>{178, 158}</string>
			<key>spriteSourceSize</key>
			<string>{196, 178}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 542}, {178, 158}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ultraman_big_14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 11}, {192, 166}}</string>
			<key>spriteOffset</key>
			<string>{2, -5}</string>
			<key>spriteSize</key>
			<string>{192, 166}</string>
			<key>spriteSourceSize</key>
			<string>{196, 178}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{564, 0}, {192, 166}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ultraman_big_15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 10}, {180, 168}}</string>
			<key>spriteOffset</key>
			<string>{8, -5}</string>
			<key>spriteSize</key>
			<string>{180, 168}</string>
			<key>spriteSourceSize</key>
			<string>{196, 178}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 372}, {180, 168}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ultraman_big_16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {128, 128}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{128, 128}</string>
			<key>spriteSourceSize</key>
			<string>{128, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{743, 168}, {128, 128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ultraman_big_17.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {197, 144}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{197, 144}</string>
			<key>spriteSourceSize</key>
			<string>{197, 144}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{362, 356}, {197, 144}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ultraman_big_18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{22, 21}, {198, 198}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{198, 198}</string>
			<key>spriteSourceSize</key>
			<string>{240, 240}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {198, 198}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ultraman_big_19.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {87, 182}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{87, 182}</string>
			<key>spriteSourceSize</key>
			<string>{87, 182}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{184, 200}, {87, 182}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ultraman_big_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{32, 10}, {164, 168}}</string>
			<key>spriteOffset</key>
			<string>{16, -5}</string>
			<key>spriteSize</key>
			<string>{164, 168}</string>
			<key>spriteSourceSize</key>
			<string>{196, 178}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{427, 170}, {164, 168}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ultraman_big_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{48, 16}, {148, 162}}</string>
			<key>spriteOffset</key>
			<string>{24, -8}</string>
			<key>spriteSize</key>
			<string>{148, 162}</string>
			<key>spriteSourceSize</key>
			<string>{196, 178}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{593, 168}, {148, 162}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ultraman_big_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{40, 14}, {156, 164}}</string>
			<key>spriteOffset</key>
			<string>{20, -7}</string>
			<key>spriteSize</key>
			<string>{156, 164}</string>
			<key>spriteSourceSize</key>
			<string>{196, 178}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 702}, {156, 164}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ultraman_big_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 18}, {186, 160}}</string>
			<key>spriteOffset</key>
			<string>{5, -9}</string>
			<key>spriteSize</key>
			<string>{186, 160}</string>
			<key>spriteSourceSize</key>
			<string>{196, 178}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{593, 332}, {186, 160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ultraman_big_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 18}, {192, 160}}</string>
			<key>spriteOffset</key>
			<string>{2, -9}</string>
			<key>spriteSize</key>
			<string>{192, 160}</string>
			<key>spriteSourceSize</key>
			<string>{196, 178}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{508, 502}, {192, 160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ultraman_big_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 10}, {196, 168}}</string>
			<key>spriteOffset</key>
			<string>{0, -5}</string>
			<key>spriteSize</key>
			<string>{196, 168}</string>
			<key>spriteSourceSize</key>
			<string>{196, 178}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{366, 0}, {196, 168}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ultraman_big_8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 8}, {182, 170}}</string>
			<key>spriteOffset</key>
			<string>{7, -4}</string>
			<key>spriteSize</key>
			<string>{182, 170}</string>
			<key>spriteSourceSize</key>
			<string>{196, 178}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 200}, {182, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ultraman_big_9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{32, 0}, {164, 178}}</string>
			<key>spriteOffset</key>
			<string>{16, -0}</string>
			<key>spriteSize</key>
			<string>{164, 178}</string>
			<key>spriteSourceSize</key>
			<string>{196, 178}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{200, 0}, {164, 178}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>name</key>
		<string>ultraman_big</string>
		<key>textureFileName</key>
		<string>ultraman_big.png</string>
		<key>premultipliedAlpha</key>
		<true/>
	</dict>
</dict>
</plist>